
-  var  img_path = "/images"


doctype html
html(lang="zh-cn")
    head
        meta(charset="utf-8")
        meta(name="description", content="校易通二手物品交易平台")
        meta(name="author", content="ziyan")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="robots", content="noindex, nofollow")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 校易通二手物品交易平台
        link(rel="stylesheet", href="/stylesheets/main.css",type="text/css")
        link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css",type="text/css")
        link(rel="stylesheet", href="/vendor/glyphicons/css/glyphicons.css",type="text/css")

        //-link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.css")
        //if lt IE 9
            script(src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js")
            script(src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js")

        script(type="text/javascript", src="/vendor/jquery/jquery-2.1.0.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js",type="text/javascript")
        script(type="text/javascript", src="/javascripts/main.js")
        block head
    body
        .top
            .top_show
                input.login_err(value="#{login_err}")
                - if(if_log)
                    ul.top_user.clearfix
                        li #{user.nick}
                        li
                            a(href = "/user") 【个人中心】
                        li
                            a(href = "#") 【消息
                                - if(user.new_msg_total)
                                    span.msg_num (#{user.new_msg_total})
                            】
                        li
                            a.logout(href = "#") 退出
                - else
                    ul.top_user.clearfix
                        li 亲，请
                            a(href = "/login") 登录
                        li 
                            a(href = "/register") 免费注册
                .top_right
                    .car_div
                        a(href="#")
                            span.car_text 购物车
                            - if(if_log) 
                                span.car #{user.car_total}
                            - else
                                span.car 0
                        span.kfc |   
                            a(href="#") 客户服务
        .top_search
            .top_show
                img.log(src="#{img_path}/log.png")
                .search_bar
                    input.search_text(name="search", type="text", maxlength="12", required, autofocus )
                    .search_a
                        .search_a_show
                            a(href="#") 搜索
        .top_menu
            .top_show
                ul.clearfix
                    li.top_all_softs.clearfix                         
                        span 全部分类
                        .top_soft_show_all
                            .top_softs 
                                #top_books.clearfix 
                                    i.soft_left_icon.icon-book
                                    span 书 籍
                                    i.soft_right_icon.icon-caret-right
                                    .book_all
                                        .top_soft_detail
                                            span 教材
                                            span 基础课程
                                            ul
                                                li 高数
                                            span 专业相关
                                            ul
                                                li 机械工程
                                        .top_soft_detail
                                            span  考研考级

                                #top_shuma.clearfix
                                    i.icon-camera-retro.soft_left_icon
                                    span 数 码
                                    i.soft_right_icon.icon-caret-right
                                #top_computer.clearfix
                                    i.icon-desktop.soft_left_icon
                                    span 电脑及周边
                                    i.soft_right_icon.icon-caret-right
                                #top_cards.clearfix
                                    i.icon-credit-card.soft_left_icon
                                    span 卡/票/证
                                    i.soft_right_icon.icon-caret-right
                                #top_plays.clearfix
                                    i.icon-dashboard.soft_left_icon
                                    span 休闲娱乐
                                    i.soft_right_icon.icon-caret-right
                                #top_decoration.clearfix
                                    i.icon-github-alt.soft_left_icon
                                    span 饰品/手表
                                    i.soft_right_icon.icon-caret-right
                                #top_shoes.clearfix
                                    i.icon-suitcase.soft_left_icon
                                    span 鞋 包
                                    i.soft_right_icon.icon-caret-right
                                #top_clothes.clearfix
                                    i.glyph-icon-sweater.soft_left_icon
                                    span 服 装
                                    i.soft_right_icon.icon-caret-right
                                #top_sports.clearfix
                                    i.glyph-icon-table-tennis.soft_left_icon
                                    span 体育用品
                                    i.soft_right_icon.icon-caret-right
                                #top_girls.clearfix
                                    i.glyph-icon-girl.soft_left_icon
                                    span 女生专区
                                    i.soft_right_icon.icon-caret-right
                                #top_boys.clearfix
                                    i.glyph-icon-old-man.soft_left_icon
                                    span 男生专区
                                    i.soft_right_icon.icon-caret-right

                    li
                        a(href="/index") 首页
                    li 
                        a(href="#") 帮助
        

        block main

