.user_order_title
    i.icon_margin.glyph-icon-gift
    span 已买到的宝贝
.user_order.clearfix    
    table
        tr.table_titles
            td 
            td 名称
            td 单价
            td 几成新
            td 数量
            td 总价
            td.order_status 状态
            td.order_caozuo 操作
        tr
            td 
                img(src="#{img_path}/goods/#{goods_img[0]}")
            td 
                a(href="#") #{goods_name[0]}
            td ￥20
            td 8
            td 1
            td(rowspan="2") ￥40
            td(rowspan="2") 已发货
            td(rowspan="2") 
                button 查看订单
        tr
            td 
                img(src="#{img_path}/goods/#{goods_img[1]}")
            td 
                a(href="#") #{goods_name[1]}
            td ￥20
            td 8
            td 1
        tr
            td 
                img(src="#{img_path}/goods/#{goods_img[2]}")
            td 
                a(href="#") #{goods_name[2]}
            td ￥20
            td 8
            td 1
            td ￥20
            td 待评价
            td  
                button 评价
        tr
            td 
                img(src="#{img_path}/goods/#{goods_img[3]}")
            td 
                a(href="#") #{goods_name[3]}
            td ￥20
            td 8
            td 1
            td(rowspan="2") ￥40
            td(rowspan="2") 交易完成
            td(rowspan="2") 
                button 删除订单
        tr
            td 
                img(src="#{img_path}/goods/#{goods_img[4]}")
            td 
                a(href="#") #{goods_name[4]}
            td ￥20
            td 8
            td 1